<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/frameset.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml"><HEAD><TITLE>人力资源管理系统</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META content="MSHTML 6.00.2900.3492" name=GENERATOR></HEAD>

<body bgcolor="#2a8dc8">
	<iframe name=top src= "/appendix/YHTop" frameBorder=0 width = "98%" height = "90" noResize 
scrolling=no Align = "top" Marginheight = "0"></iframe>
	<iframe name=menu src="/appendix/YHMenu" frameBorder=0 noResize width = "220" height = "500" Align = "top"  Marginheight = "0" Marginwidth = "0"></iframe>


</body>
</HTML>